/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @group bootstrap */

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
html{
  font-family: helvetica neue, helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  background: #eee;
}

a{ color: #0064be; }
a:hover{ color: #003c72; }


@media screen and (min-width: 768.88px) {
}

p, li, dd, dt {
  line-height: 1.4em;
}

@media screen and (min-width: 533.33px) {
  dl {
    padding-top: 16px;
    margin-top: 32px;
    border-top: 1px solid #eee;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -column-count: 2;
  } 
}

dt{
  margin-bottom: 0;
  color: #444;
  font-size: 0.8em;
  font-weight: 600;
}

span.preposition{
  font-style: italic;
  font-family: Georgia;
  text-transform: lowercase;
}

.wrapper{
  width:  80%;
  margin: 0 auto;
  position: relative;
}

div.wrapper::after{
  content: "";
  display: table;
  clear: both;
}

h1.primary-header {
  font-size: 32px;
  font-family: 'franklin-gothic-urw-cond', Helvetica Neue, Helvetica, sans-serif;
  line-height: 1;
  margin-top: 24px;
  margin-bottom: 0.6em;
  margin-left: -0.03em;
}

@media screen and (min-width: 711.11px) { 
  h1.primary-header{ 
    font-size: 40px; 
    margin-bottom: 0.4em;
  } 
}

main ol{ 
  margin-bottom: 2em;
  padding-top: 1em; 
}

ul li{
  list-style-type: disc;
  margin-left: 1.4em;
  
}

/* @end */

/* @group forms */

/* @group summary.error-message */

summary.error-message{
  background: #990017;
  color: white;
  padding: 8px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
  margin-top: -8px;
}

summary.error-message details{ margin-top: 8px; }
summary.error-message details p:first-of-type{ margin-top: 8px; }
summary.error-message details ol{
  list-style-type: decimal;
  margin: 0 0 0 1.4em;
  padding-top: 0;
}

summary.error-message details ol li{
  margin-bottom: 6px;
}

/* @end */

legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

input[type=tel],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
select,
textarea{
  -webkit-appearance: none;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 36px;
  min-height: 36px;
  min-width: 4em;
  width: 100%;
  margin: 0;
  outline: none;
}

input[type=radio],
input[type=checkbox]{ 
  outline: none; 
  border: none;
}

.field-select select{
  min-width: 0; 
  background: none;
  padding-right: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.field-select span.label-select{ 
  position: relative; 
  width: 15%;
  display: block;
}

.field-select{ position: relative; }

.field-select::after{
  content: "";
  border: 6px solid black;
  position: absolute;
  right: 20px;
  bottom: 50%;
  margin-bottom: 2px;
  border-color: #aaa transparent transparent transparent;
  z-index: -1;
}

.field-select:hover select{ border-color: #aaa; }
.field-select:hover::after{ border-top-color: #888; }

textarea{
  display: block;
  width: 100%;
  max-width: 40em;
  min-height: 6em;
  line-height: 1.25;
  color: #333;
}

button,
.button {
  background: none;
  border: 1px solid;
  color: #008c52;
  font: inherit;
  padding: 10px 12px;
  margin: 0;
  line-height: 16px;  
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
}

button:hover {
  background: #00834d;
  border-color: #00834d;
  color: white;
  box-shadow: 0 1px 0 #f3f3f3;
}

button:active {
  color: #7aa79d;
  background: #006e52;
  border-color: #006e52;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

form a.a-return + h1{
  margin-top: 1em !important; 
}


fieldset > p{
  font-size: 14px;
  line-height: 1.4;
  color: #444;
  margin-top: 0;
  margin-bottom: 1em;
}

.description-text,
.p-description-text{
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.3;
  display: block;
  color: #333;
}

.description-text a{ color: inherit; }
.description-text a:hover{ text-decoration: none; }

div.field,
fieldset{ margin-bottom: 24px; }
fieldset.fieldset-radio{ margin-bottom: 18px; }

fieldset.fieldset-parties-requesting-agency,
fieldset.fieldset-parties-servicing-agency,
fieldset.fieldset-agency-official-requesting-agency,
fieldset.fieldset-agency-official-servicing-agency,
fieldset.fieldset-program-official,
fieldset.fieldset-additional-point-of-contact,
fieldset.fieldset-corporate-official,
fieldset.fieldset-funding-official,
.section-parties .fieldset-requesting-agency,
.section-parties .fieldset-servicing-agency,
.section-agency-official .fieldset-requesting-agency,
.section-agency-official .fieldset-servicing-agency,
fieldset.fieldset-component-tas,
fieldset.fieldset-reimbursable-line-costs,
fieldset.fieldset-assisted-acquisition-line-costs,
fieldset.fieldset-point-of-contact{
  border: 1px solid #cfcfcf;
  padding: 16px;
  padding-bottom: 19px;
  position: relative;
  margin-top: 36px;
  margin-bottom: 32px;
  border-radius: 4px;
}

fieldset.fieldset-program-official div.field:last-of-type,
fieldset.fieldset-additional-point-of-contact div.field:last-of-type,
fieldset.fieldset-corporate-official div.field:last-of-type{
  margin-bottom: 4px;
}

fieldset.fieldset-corporate-official{ margin-bottom: 24px; }

fieldset.fieldset-parties-requesting-agency > legend,
fieldset.fieldset-parties-servicing-agency > legend,
fieldset.fieldset-agency-official-requesting-agency > legend,
fieldset.fieldset-agency-official-servicing-agency > legend,
fieldset.fieldset-program-official > legend,
fieldset.fieldset-corporate-official > legend,
fieldset.fieldset-additional-point-of-contact > legend,
fieldset.fieldset-funding-official > legend,
.section-parties fieldset.fieldset-requesting-agency > legend,
.section-parties fieldset.fieldset-servicing-agency > legend,
.section-agency-official .fieldset-requesting-agency > legend,
.section-agency-official .fieldset-servicing-agency > legend,
fieldset.fieldset-component-tas > legend,
fieldset.fieldset-reimbursable-line-costs > legend,
fieldset.fieldset-assisted-acquisition-line-costs > legend,
fieldset.fieldset-point-of-contact > legend,
fieldset > header > h1{
  position: absolute;
  background: white;
  margin: 0 0 -3px;
  bottom: 100%;
  left: 8px;
  padding: 0 1px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #777;
}

fieldset div.field:last-of-type+fieldset{
  margin-top: 24px;
  margin-bottom: 4px;
}

.fieldset.fieldset-labor-related-costs,
.fieldset.fieldset-direct-material-costs,
.fieldset.fieldset-discretionary-technical-assistance,
.fieldset.fieldset-equivalent-work,
.fieldset.fieldset-equivalent-work .fieldset,
.fieldset.fieldset-radio{
  padding: 0;
  border: none;
}

.field-roles-and-responsibilities span.label-text,
.field-assisted-acquisition-small-business-credit-clause span.label-text,
.field-requesting-agencys-clauses span.label-text,
.field-servicing-agencys-clauses span.label-text,
.field-additional-agency-attachments span.label-text,
.field-disputes span.label-text,
.field-additional-agency-attachments span.label-text,
.fieldset-assisted-acquisition-agreement > legend,
.fieldset-gtc-action > legend,
.fieldset-recurring-agreement > legend,
.fieldset-agreement-type > legend,
.fieldset-advanced-payments > legend,
.fieldset-performance-period > legend,
.fieldset-accrual-per-work-completed-period > legend{ 
  position: absolute !important;
  left: -9999em;
}

fieldset > legend,
.field .label-text{
  display: block; 
  margin: 0 0 8px;
  padding: 0;
  position: static;
  font: inherit;
  line-height: 20px;
}

.field.field-radio{ 
  display: inline-block; 
  vertical-align: middle;
  margin-bottom: 6px;
}

.field.field-radio label{
  display: inline-block;
  padding: 0 12px 4px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 32px;
  line-height: 32px;
  vertical-align: middle;
}

.field input:focus,
.field select:focus,
.field textarea:focus,
.field.field-checkbox.is-focused label,
.field.field-radio.is-focused label{
  border-color: #1188ff;
  box-shadow: 0 0 0 1px rgba(17,136,255,0.15);
  outline: none;
}



main div.field-select.is-focused::after{
  border-top-color: #1188ff;

}

div.field.field-checkbox span.label-text,
div.field.field-radio span.label-text,
div.field.field-radio input{ 
  display: inline; 
  vertical-align: middle;
}

div.field.field-checkbox{
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
}

div.field.field-checkbox input{ 
  font-size: 1em; 
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
}

div.field.field-checkbox+div.field.field-checkbox{ margin-top: 4px; }

div.field.field-checkbox+.is-branch{
  margin-top: -4px !important;
  margin-left: 3px;
  margin-bottom: 16px;
}

div.field.is-error input,
div.field.is-error textarea{
  background: #fff7f4;
  background: repeating-linear-gradient(
    45deg,
    #fff4f2,
    #fff4f2 10px,
    #fff7f4 10px,
    #fff7f4 20px
  );
  border-color: #ce6246;
}

div.field.is-error span.error-message,
fieldset.fieldset-radio.is-error span.error-message{
  color: #990017; 
  display: block;
}

div.field.is-error span.error-message,
fieldset.fieldset-radio.is-error span.error-message{
  color: #af1830; 
  font-size: 14px;
  padding-top: 6px;
  display: block;
  font-style: italic; 
}

@media screen and (min-width: 533.33px) {

  fieldset.fieldset-date-range::after{
    content: "";
    display: table;
    clear: both;    
  } 
    
  fieldset.fieldset-date-range div.field{
    padding-bottom: 1.4em;
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  
  fieldset.fieldset-date-range span.label-text{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    font-size: 12px;
  }

}


fieldset.fieldset-mailing-address div.field{
  padding-bottom: 1.4em;
  position: relative;
}

fieldset.fieldset-mailing-address div.field span.label-text{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 12px;
}

fieldset.fieldset-mailing-address div.field-city-state-zip::after{
  content: "";
  display: table;
  clear: both;
}

fieldset.fieldset-mailing-address div.field-city-state-zip{
  margin-right: -0.7em;
  margin-bottom: 0;
}

fieldset.fieldset-mailing-address div.field.field-city,
fieldset.fieldset-mailing-address div.field.field-state,
fieldset.fieldset-mailing-address div.field.field-zip{
  float: left;
  width: 25%;
  padding-right: 0.67em; 
  margin-bottom: 0;
}

fieldset.fieldset-mailing-address div.field.field-city{ 
  width: 50%; 
}

fieldset.fieldset-mailing-address div.field.field-city input,
fieldset.fieldset-mailing-address div.field.field-state input,
fieldset.fieldset-mailing-address div.field.field-zip input{
  min-width: 0;
}

/* @group widths */

@media screen and (min-width: 533.33px){
  .field-telephone-number input,
  .field-email-address input,
  .field-additional-classification input{
    width: 50%;
    min-width: 10em;
  }
  
  .field-project-number input,
  .field-phone-number input,
  .field-telephone-number input,
  .field-fax-number input,
  .field-date input,
  .field-cost input,
  .field-overhead input,
  .field-total input,
  .field-expiry-date input,
  .field-cancellation-date input,
  .field-alc input,
  .field-component-tas input,
  .field-betc input,
  .field-object-class-code input,
  .field-sp input,
  .field-ata input,
  .field-aid input,
  .field-bpoa input,
  .field-a input,
  .field-main input,
  .field-sub input,
  .field-bpn input,
  .field-bpn-4 input,
  .field-servicing-agency-tracking-number input,
  .field-total-net-order-amount input{
    width: 10em;
  }

}

/* @end */

.section-form .branch{
  padding: 0 0 0 12px;
  position: relative;
}

.section-form .fieldset-radio+.branch,
.section-form .fieldset-radio+.branch+.branch{
  margin-top: 12px;
}

.branch > h1.branch-logic,
.branch > header > h1.branch-logic{
  text-transform: uppercase;
  font: 13px Courier, mono !important;
  font-weight: 600 !important;
  padding: 4px;
  background: #eee;
  display: inline-block;
  color: #ed2766 !important;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-top: 16px;
  margin-bottom: 8px !important;
}

body.branches .branch h1.branch-logic,
body.branches .branch > header > h1.branch-logic{ display: none; }

.section-form .branch::after{
  position: absolute;
  left: 0;
  top: 0;
  bottom: -1px;
  width: 3px;
  border-radius: 2px;
  content: "";
  background: #ccc;
}


@media screen and (min-width: 640px) {
  main div.wrap > form {
    padding-right: 16px;
    border-right: 1px solid #eee;
  } 
  
}


main form footer{ 
  margin-top: 32px; 
  padding-bottom: 16px;
  position: relative;
}

main form footer a{
  position: absolute;
  right: 0;
  top: 12px;
}

main form footer a:hover{ color: #333; }
main form footer p{
  clear: both;
  font-family: Georgia;
  font-style: italic;
  color: #888;
  background: #f3f3f3;
  padding: 12px;
  max-width: none;
  margin-top: 24px;
  font-size: 14px;
}
main form footer p button{
  display: inline;
  float: none;
  padding: 4px 8px;
  color: #555;
  background: white;
  border: 2px solid #ccc;
  font-family: Helvetica;
  font-style: normal;
  margin-left: 0.2em;
 }


/* @end */

/* @group header.banner */

header.banner h1{
  width: 32px;
  height: 32px;
  background: #18F url(images/database.png) center center no-repeat;
  background-size: 50%;
  border-radius: 100%;
  color: white;
  position: absolute;
  left: -2.5em;
  top: -4px;
  z-index: 1;
}

header.banner h1 a{ display: none; }

/* @end */

body {
  background: white;
  padding: 1em;
  border-radius: 8px;
  margin: 2.5% auto;
  width: 60%;
  border-bottom: 2px solid #ccc;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #fafafa;
  border-radius: 7px 0 0 7px;
}

main div.wrapper > h1{
  font-size: 1.5em;
  font-weight: 200;
  margin-bottom: 0.5em;
}

.view-home main div.wrapper p{
  margin-bottom: 1.8em;
}

section.files{
  margin-bottom: 2em;
}

section.files > h1,
section.files > header > h1{
  font-size: 18px;
  line-height: 1.15em;
  margin-bottom: 0.8em;
}

section.files > header > h1 + p{
  font-size: 0.875em;
  margin-top: -0.4em;
}

section.files.files-valid > h1{
  margin-bottom: 1em;
}

section.files.files-in-incorrect-format > header > p{ margin-bottom: 1.2em; }

section.files > h1 strong,
section.files > header > h1 strong{
  font-weight: 600;
}

/* @group article.file */

article.file{
  margin-bottom: 0.5em;
}
article.file > h1{
  padding-left: 1.5em;
  position: relative;
}
article.file > h1::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
  background: url(images/csv.png) center center no-repeat;
  background-size: 100%;

}

article.file.file-with-errors{
  padding-left: 1.2em;
  position: relative;
}

article.file.file-with-errors::after{
  content: "";
  position: absolute;
  left: 0.4em;
  top: 2em;
  bottom: 0;
  width: 0.2em;
  background: #ddd;
}

article.file.file-with-errors > h1{
  margin-left: -1.2em;
  margin-bottom: 0.8em;
}

article.file.file-with-errors article{
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.6em;
  margin-bottom: 0.6em;
  font-size: 0.875em;
  line-height: 1.4em;
}

article.file.file-with-errors article:last-of-type{
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

article.file.file-with-errors article h1{
  font-weight: 600;
  margin-bottom: 0.2em;
}

article.file.file-with-errors article p{
  margin-bottom: 0;
}



/* @end */

div.field.field-file{
  margin-bottom: 0.8em;
  margin-right: 0.4em;
  border: 1px solid #eee;
  background: #fafafa;
  border-radius: 4px;
  padding: 8px;
}

div.field.field-file span.label-text{
  font-size: 12px;
  font-weight: 600;
  color: #555;
  margin-bottom: 0;
  margin-left: 0.3em;
}

@media screen and (min-width: 33.33em){
  body {
    padding: 1.5em;
    padding-left: 3em;
    margin: 2em auto;
    width: 60%; 
  }
  
  body::after { width: 2.5em; }

  header.banner h1{
    width: 3em;
    height: 3em;
    left: -4.125em;
    z-index: 1;
  }
  
  main div.wrapper > h1{
    font-size: 2.25em;
    font-weight: 100;
  }

  div.field.field-file{
    display: inline-block;
    margin-bottom: 0.8em;
    width: 48%;
    min-width: 212px;
  }

  section.files > h1,
  section.files > header > h1{ font-size: 1.25em; }
  
  section.files > header > h1 + p{ font-size: 1em;}
  
  article.file{ display: inline-block; }
  article.file > h1{
    width: 8em;
    padding: 9px;
    padding-left: 6px;
    text-align: center;
    padding-top: 5.333em;
    position: relative;
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-bottom: 10px;
    font-size: 0.75em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  article.file > h1::after{
    content: "";
    position: absolute;
    top: 1.2em;
    left: 50%;
    margin-left: -22px;
    width: 44px;
    height: 44px;
    background: url(images/csv.png) center center no-repeat;
    background-size: 100%;
    opacity: 0.5;
  }
  
  article.file.file-with-errors{
    padding-left: 7em;
    display: block;
  }
  article.file.file-with-errors::after{
    display: none;
  }
  
  article.file.file-with-errors > h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  
  article.file.file-with-errors article.error{
  }

}

table {
  margin: 0 0 2rem 0;
  min-width: 100%; }
  table thead th {
    text-align: left; }
  table th, table td {
    border: 1px solid #757575;
    line-height: 1;
    padding: 1rem; }

.usa-table-bordered {
  border-spacing: 0; }
  .usa-table-bordered thead tr {
    background-color: #eeeeee; }

.usa-table-borderless thead tr th {
  border-top: 0; }
.usa-table-borderless th, .usa-table-borderless td {
  border-left: 0;
  border-right: 0; }

p {
  margin: 0;
}
