
html, body {overflow:auto}

body {
}

[type="file"] {
  background: #fff;
}

.main {
  padding: 2rem 1rem;
  max-width: 140rem;
  width: 100%;
}

.sidebar {
  background: #606060;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 2rem 1rem;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .main {
    margin-left: 30rem;
    padding: 4rem 2rem;
    width: calc(100% - 30rem);
  }

  .sidebar {
    padding: 3rem;
    position: absolute;
    width: 30rem;
  }
}

.clear {
  clear: both;
}

.separator {
  padding: .5rem 0;
  border-bottom: 2px dotted #ccc;
}

.box {
  background: #F0F0F0;
  padding: 1rem 2rem;
}

.box-muted {
  padding: 2rem 0;
  border: dotted #ccc;
  margin: 3rem 0 4rem 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}

.box-muted header {
  margin-bottom: 3rem;
}

.box-error {
  border-top: 2px dotted #EDD7D7;
  margin: 2rem 0;
  padding: 1rem 0;
}

.box-error h3 {
  background: #F7F0F0;
  padding: .5rem;
}

.box-error h3 span {
  font-size: 1.6rem;
  padding-left: 1.5rem;
  text-align: right;
}

.key {
  border-left: 1px dotted #EDD7D7;
  padding: 0 1.5rem;
}

.key:first-child {
  border-left: 0;
  padding-left: 0;
}

.section {
  padding: 4rem 0;
}

.section h2 {
  margin-bottom: 0;
}

.alert {
  color: #af0000;
}

/* USFWDS overrides */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: .5em
}

* + p {
  margin-top: .5em
}

p {
  margin-bottom: 0;
}

p + table {
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  form {
    max-width: none;
  }
}

.usa-grid {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
