
[type="file"] {
  background: #fff;
}

.main {
  margin-left: 30rem;
  max-width: 140rem;
  padding: 4rem 2rem;
  width: calc(100% - 30rem);
}

.sidebar {
  bottom: 0;
  left: 0;
  padding: 3rem;
  position: absolute;
  top: 0;
  width: 30rem;
}

.clear {
  clear: both;
}

.box {
  background: #F0F0F0;
}


/* USFWDS overrides */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  form {
    max-width: none;
  }
}

.usa-grid {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
