{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{%
  set key_colors = {
    'Award': 'key-award',
    'Appropriation': 'key-appropration',
    'Object class program activity': 'key-object_class',
    'Award financial': 'key-financial'
  }
%}


{% block main_content %}
<h1>Validator</h1>
<p>Use the form below to upload and validate your <a href="#">DATA Act files</a></p>
<form action="/" method="post" enctype="multipart/form-data"
    class="usa-grid box">
  <div class="usa-width-one-half">
    <label>
      <span class="key-appropration label-text">Appropriation</span>
      <input class="key-appropration" type="file" accept=".csv" name="appropriation.csv">
    </label>
    <label>
      <span class="key-object_class label-text">Object Class Program Activity</span>
      <input class="key-object_class" type="file" accept=".csv" name="object_class_program_activity.csv">
    </label>
  </div>
  <div class="usa-width-one-half usa-end-row">
    <label>
      <span class="key-award label-text">Award</span>
      <input class="key-award" type="file" accept=".csv" name="award.csv">
    </label>
    <label>
      <span class="key-financial label-text">Award Financial</span>
      <input class="key-financial" type="file" accept=".csv" name="award_financial.csv">
    </label>
  </div>
  <div class="clear"></div>
  <footer>
    <button type="submit">Validate me</button>
  </footer>
</form>
{% if invalid_files or correct_files %}
<div class="section">
  <h4 class="separator">Results</h4>
  <section class="box-muted">
    {% if correct_files|length > 1 %}
      <section class="files files-valid">
        {% for file in correct_files %}
        <article class="file">
          <h3>{{ file['template_name'] }} - {{ file['filename'] }}</h3>
        </article>
        {% endfor %}
      </section>
    {% endif %}

    {% if invalid_files|length > 1 %}
    {% for file in invalid_files %}
      <div class="box-error usa-grid">
        <div class="">
          <h3 class="usa-width-one-half {{ key_colors[file['template_name']] }}">{{
            file['template_name'] }} file
          </h3>
          <h4 class="usa-width-one-half usa-end-row">{{ file['filename'] }}</h4>
        </div>
        <div class="usa-alert usa-alert-error error">
          <div class="usa-alert-body">
            <h4>{{ file['message'] }}</h4>
            <p>{{ file['detail'] }}</p>
          </div>
        </div>
        {% for rows in file['errors'] %}
        {% for row, errors in rows.iteritems() %}
        <p><span class="key">Row: {{ row|regex_replace("[A-Za-z\_\.\-]", "") }}</span>
          {% if errors['tas_identifier'] %}
          <span class="key">TAS: {{  errors['tas_identifier'] }}</span>
          {% endif %}
          {% for identifier, value in errors['identifiers'].iteritems() %}
            <span class="key">{{ identifier }}: {{ value }}</span>
          {% endfor %}
        </p>
          <table class="usa-table-bordered">
            <thead>
            <tr>
              <th>Field name</th>
              <th>Error</th>
            </tr>
            </thead>
            <tbody>
            {% for error in errors['errors'] %}
              <tr>
                <td>{{ error['fieldname'] }}</td>
                <td>{{ error['error_string'] }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
    {% endif %}
  </section>

</div>
{% endif %}
{% endblock %}
