{% extends 'layout.html' %}

{% block title %}Home{% endblock %}


{% block main_content %}
  <div class="wrapper">
    <h1>Data ACT Validator</h1>
    <p>Use the form below to upload and validate your <a href="#">DATA Act files</a></p>
    <form action="/" method="post" enctype="multipart/form-data">
      <div class="field field-file">
        <label>
          <span class="label-text">appropriation.csv</span>
          <input type="file" accept=".csv" name="appropriation.csv">
        </label>
      </div>
      <div class="field field-file">
        <label>
          <span class="label-text">object_class_program_activity.csv</span>
          <input type="file" accept=".csv" name="object_class_program_activity.csv">
        </label>
      </div>
      <div class="field field-file">
        <label>
          <span class="label-text">award.csv</span>
          <input type="file" accept=".csv" name="award.csv">
        </label>
      </div>
      <div class="field field-file">
        <label>
          <span class="label-text">award_financial.csv</span>
          <input type="file" accept=".csv" name="award_financial.csv">
        </label>
      </div>
      <footer>
        <button type="submit">Validate me</button>
      </footer>
    </form>
  </div>
{% if wrong_files or invalid_files or correct_files %}
<p>
  <div class="wrapper">
    <h1>Neato mosquito! Here&rsquo;s what we&rsquo;ve got</h1>
    <section class="files files-valid">
      <h2>[This/these] file[s] [is/are] <strong>valid</strong></h2>
      {% for file in correct_files %}
      <article class="file">
        <h4>{{ file['template_name'] }} - {{ file['filename'] }}</h4>
      </article>
      {% endfor %}
    </section>

    <section class="files files-in-incorrect-format">
      <header>
        <h2>[This/these] file[s] [is/are] <strong>not in the correct
            format.</strong></h2>
        <p>Sometimes this happens when the uploaded file isn&rsquo;t a .csv or the the .csv column names don&rsquo;t match the template.</p>
      </header>
      {% for file in wrong_files %}
      <article class="file-with-errors">
        <h4>{{ file['template_name'] }} - {{ file['filename'] }}</h4>
        <article class="error">
          <p>{{ file['message'] }}</p>
        </article>
      </article>
      {% endfor %}
    </section>
    <section class="files files-with-invalid-fields">
      <h2>[This/these] file[s] [is/are] <strong>contain [an] invalid
          [field/fields].</strong></h2>
      {% for file in invalid_files %}
        <h4>{{ file['template_name'] }} - {{ file['filename'] }}</h4>
        <article class="error">
          {% for rows in file['errors'] %}
          {% for row, errors in rows.iteritems() %}
          <p><strong>Row: {{ row }}</strong></p>
            <table class="usa-table-bordered">
              <thead>
              <tr>
                <th>Field name</th>
                <th>Error</th>
              </tr>
              </thead>
              <tbody>
              {% for error in errors['errors'] %}
                <tr>
                  <td>{{ error['fieldname'] }}</td>
                  <td>{{ error['error_string'] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endfor %}
          {% endfor %}
        </article>
      {% endfor %}
    </section>
  </div>
</p>
{% endif %}

{% endblock %}
