<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - DATA-Act</title>
    {% set title = self.title() %}

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/usfwds.css') }}" />
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/screen.css') }}" media="screen" />
  </head>
  <body>
    <div style="position: relative">
      <aside class="sidebar">
        <h2>DATA Act Pilot</h2>
      </aside>
      <main class="main">
        {% block main_content %}{% endblock %}
      </main>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
